.card-actor {
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-actor img {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.actor-name {
    position: static;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.2;
    padding: 4px 6px;
    text-align: center;
}


.backdrop-detalle {
    width: 100%;
    height: 300px; // o la altura que prefieras
    object-fit: cover;
    display: block;
}
